/************************************
** CVボタン
************************************/

.pb-cv-box {
	// * {
	// 	box-sizing: border-box;
	// 	margin: 0;
	// 	padding: 0;
	// }

	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto 2em !important;
	font-size: 1em;
	line-height: 1.8;

	&[data-bg="shadow"] {
		background: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}

	// .pb-list {

	// 	li {
	// 		font-size: 0.9em;
	// 	}
	// }

}

.pb-cv-box__inner {
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 450px;
	margin-right: auto !important;
	margin-left: auto !important;
	padding: 2em !important;

	/*320px以下*/
	@media screen and (max-width: 320px) {
		padding: 1em !important;

	}

	/*599px以下*/
	@media screen and (max-width: 599px) {
		padding: 1.5em !important;

	}

	// & > * + * {
	// 	margin-top: 1em;
	// }

	.pb-image {
		margin-bottom: 1em;
	}

	.pb-button {
		margin-top: 0.75em;
	}

}

.pb-cv-box .pb-list,
.pb-cv-box .pb-button,
.pb-cv-box__note {
	width: 100%;
}


// 色
.pb-cv-box[data-colset="1"] {

	$box_bg: #f5f5f5;
	$color: #91c13e;
	$color_shadow: #628328;
	$note_bg: #fff;

	&[data-bg="on"] {
		background-color: $box_bg;
	}

	.pb-list li::before {
		color: #3190b7;
		background-color: #3190b7;
	}

	.pb-button__btn {
		background: $color;
		box-shadow: 0 4px 0 $color_shadow;
	}

	.pb-button__em {
		color: $color;
	}

	.pb-cv-box__note {

		&[data-style="border"] {
			border: 1px solid #f0c24d;

			.__icon {
				background-color: #f0c24d;
			}
		}

		&[data-style="bg"] {
			// background: $note_bg;

			.__icon {
				color: #f0c24d;
			}
		}
	}
}

.pb-cv-box[data-colset="2"] {

	$box_bg: #f2f8e8;
	$color: #91c13e;
	$color_shadow: #61841f;
	$note_bg: #fff;

	&[data-bg="on"] {
		background-color: $box_bg;
	}

	.pb-list li::before {
		color: $color;
		background-color: $color;
	}

	.pb-button__btn {
		background: $color;
		box-shadow: 0 4px 0 $color_shadow;
	}

	.pb-button__em {
		color: $color;
	}

	.pb-cv-box__note {

		&[data-style="border"] {
			border: 1px solid $color;

			.__icon {
				background-color: $color;
			}
		}

		&[data-style="bg"] {
			// background: $note_bg;

			.__icon {
				color: $color;
			}
		}
	}
}

.pb-cv-box[data-colset="3"] {

	$box_bg: #fdf8ea;
	$color: #f0c24d;
	$color_shadow: #b4923a;
	$note_bg: #fff;

	&[data-bg="on"] {
		background-color: $box_bg;
	}

	.pb-list li::before {
		color: $color;
		background-color: $color;
	}

	.pb-button__btn {
		background: $color;
		box-shadow: 0 4px 0 $color_shadow;
	}

	// .pb-button__text {
	// 	color: #333;
	// }


	.pb-button__em {
		color: $color;
	}

	.pb-cv-box__note {

		&[data-style="border"] {
			border: 1px solid $color;

			.__icon {
				background-color: $color;
			}
		}

		&[data-style="bg"] {
			// background: $note_bg;

			.__icon {
				color: $color;
			}
		}
	}
}

.pb-cv-box[data-colset="4"] {

	$box_bg: #e0f4fa;
	$color: #00a7d7;
	$color_shadow: #007da1;
	$note_bg: #fff;

	&[data-bg="on"] {
		background-color: $box_bg;
	}

	.pb-list li::before {
		color: $color;
		background-color: $color;
	}

	.pb-button__btn {
		background: $color;
		box-shadow: 0 4px 0 $color_shadow;
	}

	.pb-button__em {
		color: $color;
	}

	.pb-cv-box__note {

		&[data-style="border"] {
			border: 1px solid $color;

			.__icon {
				background-color: $color;
			}
		}

		&[data-style="bg"] {
			// background: $note_bg;

			.__icon {
				color: $color;
			}
		}
	}
}

.pb-cv-box[data-colset="5"] {

	$box_bg: #ffefef;
	$color: #ff7978;
	$color_shadow: #bf5b5a;
	$note_bg: #fff;

	&[data-bg="on"] {
		background-color: $box_bg;
	}

	.pb-list li::before {
		color: $color;
		background-color: $color;
	}

	.pb-button__btn {
		background: $color;
		box-shadow: 0 4px 0 $color_shadow;
	}

	.pb-button__em {
		color: $color;
	}

	.pb-cv-box__note {

		&[data-style="border"] {
			border: 1px solid $color;

			.__icon {
				background-color: $color;
			}
		}

		&[data-style="bg"] {
			// background: $note_bg;

			.__icon {
				color: $color;
			}
		}
	}
}
