/************************************
** 比較表
************************************/
:root {
	--headColor: #6fc7e1;
}


/* 比較表全体 */
.pb-compare-box {
	z-index: 0;
	max-width: 600px;
	margin: 0 auto 2rem;
	overflow: hidden;
	// background: #fef9ed; /* 背景色 */
	border-radius: 4px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
}


.pb-compare-box__head {
	display: flex;
	align-items: stretch;
	margin: 0 !important;
	padding: 0 !important;

}

.pb-compare-box__head__l,
.pb-compare-box__head__r {
	display: flex;
	flex-basis: 50%;
	align-items: center;
	justify-content: center;
	min-height: 3.5em;
	margin: 0 !important;
	padding: 0.75em 1em !important;
	color: #fff; /* 文字色 */
	font-weight: bold;
	font-size: 1em;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;

	@media screen and (max-width: 480px) {
		height: 50px;
		font-size: 12px;/* 文字大きさ */
	}

}

.pb-compare-box__body {
	display: flex;
	align-items: stretch;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0.9em;
}

.pb-compare-box__body__l,
.pb-compare-box__body__r {
	display: flex;
	flex-basis: 50%;
	flex-direction: column;
	margin: 0 !important;
	padding: 1.25em 1.5em !important;
	font-size: 1em;
	// line-height: 2;
	text-align: justify;
	text-justify: inter-ideograph;

	& > * + * {
		margin-top: 0.75em;
	}

	@media screen and (max-width: 480px) {
		padding: 1.2em !important;
		font-size: 12px;
	}

}

/*
 * カラー
 */
.pb-compare-box[data-colset="y"] {

	$yellow: #fdc44f;
	$yellow_bg: #fef9ed;

	.pb-compare-box__head {
		background-color: $yellow;
	}

	.pb-list li::before {
		color: $yellow;
		background-color: $yellow;
	}

	.pb-compare-box__body {
		background-color: $yellow_bg;
	}

}

.pb-compare-box[data-colset="p"] {

	$pink: #fd9392;
	$pink_bg: #ffefef;

	.pb-compare-box__head {
		background-color: $pink;
	}

	.pb-list li::before {
		color: $pink;
		background-color: $pink;
	}

	.pb-compare-box__body {
		background-color: $pink_bg;
	}

}

.pb-compare-box[data-colset="g"] {

	$green: #91c13e;
	$green_bg: #f2f8e8;


	.pb-compare-box__head {
		background-color: $green;
	}

	.pb-list li::before {
		color: $green;
		background-color: $green;
	}

	.pb-compare-box__body {
		background-color: $green_bg;
	}

}

// ブルー
.pb-compare-box[data-colset="b"] {

	$green: #6fc7e1;
	$green_bg: #f0f9fc;


	.pb-compare-box__head {
		background-color: $green;
	}

	.pb-list li::before {
		color: $green;
		background-color: $green;
	}

	.pb-compare-box__body {
		background-color: $green_bg;
	}

}

.pb-compare-box[data-colset="1"] {

	.pb-compare-box__head {
		background-color: #6fc7e1;
	}

	.pb-compare-box__body__l .pb-list li::before {
		color: #6fc7e1;
		background-color: #6fc7e1;
	}

	.pb-compare-box__body {
		background-color: #f0f9fc;
	}

	.pb-compare-box__head__r {
		background-color: #ffa883;
	}

	.pb-compare-box__body__r .pb-list li::before {
		color: #ffa883;
		background-color: #ffa883;
	}

	.pb-compare-box__body__r {
		background-color: #fff6f2;
	}


}
